<a href="https://colab.research.google.com/github/mr-alamdari/NLP-Text_Classification-Beginner/blob/main/NLP_Text_Classification_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [132]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import feature_extraction,metrics, svm, pipeline

In [25]:
samples = ['Hello, my name is Esi',
          'How are you?',
          'Are you doing great?',
          'It is a nice wether outside',
          'Let"s go there tommorow',
           'This is a story about cats',
          'our feline pets',
          'Cats are furry animals']

In [26]:
vect = feature_extraction.text.CountVectorizer()

In [27]:
vect.fit_transform(samples)

<8x27 sparse matrix of type '<class 'numpy.int64'>'
	with 33 stored elements in Compressed Sparse Row format>

In [28]:
vect.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['about',
 'animals',
 'are',
 'cats',
 'doing',
 'esi',
 'feline',
 'furry',
 'go',
 'great',
 'hello',
 'how',
 'is',
 'it',
 'let',
 'my',
 'name',
 'nice',
 'our',
 'outside',
 'pets',
 'story',
 'there',
 'this',
 'tommorow',
 'wether',
 'you']

In [29]:
tvect = feature_extraction.text.TfidfVectorizer()

In [30]:
DTM = tvect.fit_transform(samples)

In [31]:
tvect.vocabulary_

{'about': 0,
 'animals': 1,
 'are': 2,
 'cats': 3,
 'doing': 4,
 'esi': 5,
 'feline': 6,
 'furry': 7,
 'go': 8,
 'great': 9,
 'hello': 10,
 'how': 11,
 'is': 12,
 'it': 13,
 'let': 14,
 'my': 15,
 'name': 16,
 'nice': 17,
 'our': 18,
 'outside': 19,
 'pets': 20,
 'story': 21,
 'there': 22,
 'this': 23,
 'tommorow': 24,
 'wether': 25,
 'you': 26}

In [32]:
tvect.get_feature_names_out()

array(['about', 'animals', 'are', 'cats', 'doing', 'esi', 'feline',
       'furry', 'go', 'great', 'hello', 'how', 'is', 'it', 'let', 'my',
       'name', 'nice', 'our', 'outside', 'pets', 'story', 'there', 'this',
       'tommorow', 'wether', 'you'], dtype=object)

#Vocabulary

In [41]:
vocab = {}
id = 0
for sent in samples:
  for token in sent.lower().split():
    if not vocab.get(token):
      vocab[token] = id
      id += 1

In [42]:
vocab

{'a': 12,
 'about': 22,
 'animals': 28,
 'are': 6,
 'cats': 23,
 'doing': 9,
 'esi': 4,
 'feline': 25,
 'furry': 27,
 'go': 17,
 'great?': 10,
 'hello,': 0,
 'how': 5,
 'is': 3,
 'it': 11,
 'let"s': 16,
 'my': 1,
 'name': 2,
 'nice': 13,
 'our': 24,
 'outside': 15,
 'pets': 26,
 'story': 21,
 'there': 18,
 'this': 20,
 'tommorow': 19,
 'wether': 14,
 'you': 8,
 'you?': 7}

In [53]:
sent_freq = []
id = 0
for sent in samples:
  temp=[0]*len(vocab)
  for token in sent.lower().split():
    if vocab.get(token):
      temp.append(vocab[token])
  sent_freq.append(temp)

In [57]:
sent_freq = np.array(sent_freq)
sent_freq

array([list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 6, 7]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 8, 9, 10]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 3, 12, 13, 14, 15]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 16, 17, 18, 19]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 3, 12, 21, 22, 23]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 24, 25, 26]),
       list([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 23, 6, 27, 28])],
      dtype=object)

In [50]:
freq = []
id = 0
for sent in samples:
  temp=[]
  for token in sent.lower().split():
    if vocab.get(token):
      temp.append(vocab[token])
  freq.append(temp)

In [52]:
freq

[[1, 2, 3, 4],
 [5, 6, 7],
 [6, 8, 9, 10],
 [11, 3, 12, 13, 14, 15],
 [16, 17, 18, 19],
 [20, 3, 12, 21, 22, 23],
 [24, 25, 26],
 [23, 6, 27, 28]]

In [88]:
!wget https://raw.githubusercontent.com/mr-alamdari/NLP-Text_Classification-Beginner/main/smsspamcollection.tsv

--2022-04-28 09:05:24--  https://raw.githubusercontent.com/mr-alamdari/NLP-Text_Classification-Beginner/main/smsspamcollection.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 513887 (502K) [text/plain]
Saving to: ‘smsspamcollection.tsv’

smsspamcollection.t 100%[===================>] 501.84K  --.-KB/s    in 0.04s

2022-04-28 09:05:24 (13.7 MB/s) - ‘smsspamcollection.tsv’ saved [513887/513887]

In [89]:
data = pd.read_csv('smsspamcollection.tsv', sep='\t')

In [90]:
data.tail()

     label                                            message  length  punct
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

In [92]:
data.isnull()

      label  message  length  punct
0     False    False   False  False
1     False    False   False  False
2     False    False   False  False
3     False    False   False  False
4     False    False   False  False
...     ...      ...     ...    ...
5567  False    False   False  False
5568  False    False   False  False
5569  False    False   False  False
5570  False    False   False  False
5571  False    False   False  False

[5572 rows x 4 columns]

In [93]:
data.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [94]:
data['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [97]:
x = data['message']

In [98]:
y = data['label']

In [99]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.33, random_state=43)

In [103]:
count_vect = feature_extraction.text.CountVectorizer()

In [104]:
x_train_counts = count_vect.fit_transform(x_train)

In [105]:
x_train_counts

<3733x7074 sparse matrix of type '<class 'numpy.int64'>'
	with 49564 stored elements in Compressed Sparse Row format>

In [106]:
x_train_counts.shape

(3733, 7074)

####TfidfTransformer + CountVectorizer ===> TfidfVectorizer

In [107]:
x_train_tfid = feature_extraction.text.TfidfTransformer()

In [109]:
x_train_tfidf = x_train_tfid.fit_transform(x_train_counts)

In [111]:
x_train_tfidf.shape

(3733, 7074)

In [112]:
x_train_tfid = feature_extraction.text.TfidfVectorizer()

In [114]:
x_train_tfidf = x_train_tfid.fit_transform(x_train)

In [121]:
clf = svm.LinearSVC()

In [122]:
clf.fit(x_train_tfidf, y_train)

LinearSVC()

In [127]:
text_clf = pipeline.Pipeline([('tfidf', feature_extraction.text.TfidfVectorizer()), ('clf', svm.LinearSVC())])

In [129]:
text_clf.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [130]:
preds = text_clf.predict(x_test)

In [131]:
preds

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [133]:
metrics.confusion_matrix(y_test, preds)

array([[1569,    3],
       [  34,  233]])

In [136]:
print(metrics.classification_report(y_test, preds))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1572
        spam       0.99      0.87      0.93       267

    accuracy                           0.98      1839
   macro avg       0.98      0.94      0.96      1839
weighted avg       0.98      0.98      0.98      1839

In [138]:
metrics.accuracy_score(y_test, preds)

0.9798803697661773

In [144]:
val = 'Congratulations, You are our winner, it is free'

In [145]:
text_clf.predict([val])

array(['ham'], dtype=object)

#Movie Review Classification

In [146]:
!wget https://raw.githubusercontent.com/mr-alamdari/NLP-Text_Classification-Beginner/main/moviereviews.tsv

--2022-04-28 10:11:21--  https://raw.githubusercontent.com/mr-alamdari/NLP-Text_Classification-Beginner/main/moviereviews.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7571363 (7.2M) [text/plain]
Saving to: ‘moviereviews.tsv’

moviereviews.tsv    100%[===================>]   7.22M  --.-KB/s    in 0.08s

2022-04-28 10:11:22 (86.7 MB/s) - ‘moviereviews.tsv’ saved [7571363/7571363]

In [147]:
df = pd.read_csv('moviereviews.tsv',sep='\t')

In [148]:
df.tail()

     label                                             review
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

In [149]:
len(df)

2000

In [150]:
print(df['review'][20])

robert benton has assembled a stellar , mature cast for his latest feature , twilight , a film noir mystery set amid the fading stars of hollywood .
paul newman stars as retired detective harry ross .
harry has spent the last couple of years doing odd jobs for jack and catherine ames ( gene hackman and susan sarandon ) , a pair of married actors who have fallen from the limelight .
when jack sends him on a routine delivery job , however , the old instincts kick in .
soon , harry is wading through a mystery where friendships and lives are on the line , and he no longer knows who to trust .
there are plenty of familiar faces throughout twilight , in addition to newman , hackman and sarandon .
james garner plays raymond hope , a former cop and one of harry's best friends .
stockard channing plays verna , harry's former partner , and possibly a former love interest .
reese witherspoon is mel , the distrustful daughter of the ames' , and liev schrieber is her scuzzy boyfriend .
giancarlo esposito appears as harry's bumbling detective protigi , and john spencer is a suspicious police captain .
with a cast like that , it's almost worth watching twilight just to stargaze .
luckily , there's more to the film than some sort of actor's recognition ceremony .
twilight has a solid film noir-ish plot .
it may not have as many twists and turns as some of the classics , but it has much more than a lot of what passes for film these days .
the major cast members all deliver strong performances , as can be expected of their caliber .
however , none of them have that little extra oomph which would make them memorable .
the supporting cast is enjoyable , if a little underdrawn .
stockard channing's character , in particular , is a cipher .
there's more to her character than the film takes the time to describe .
it's a minor , but irritating , flaw .
with a solid cast , and a good plot , there's a lot to recommend about twilight .
it's biggest flaw is actually its short running time .
at a slim 94 minutes , there's a lot of stuff that's packed into an awfully small package .
still , the chance to see newman , sarandon and hackman working together is worth a cramp or two .

In [151]:
print(df['label'][20])

pos

In [152]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [153]:
df.dropna(inplace=True)

In [154]:
df.isnull().sum()

label     0
review    0
dtype: int64