<a href="https://colab.research.google.com/github/mralamdari/NLP-Text_Classification/blob/main/NLP_Spam_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import io
import os
import spacy
import fastai
import sklearn
import numpy as np
import pandas as pd
from zipfile import ZipFile
from functools import partial
from sklearn import model_selection


from fastai import *
from fastai.text import *

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip
!unzip smsspamcollection.zip
df = pd.read_csv('SMSSpamCollection', sep='\t',  header=None, names=['target', 'text'])

In [5]:
df.tail()

     target                                               text
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

In [7]:
display(df.shape)

(5572, 2)

In [8]:
df["target"].value_counts()/df.shape[0]

ham     0.865937
spam    0.134063
Name: target, dtype: float64

In [12]:
df_train, df_test = model_selection.train_test_split(df,stratify = df['target'], test_size = 0.2, random_state = 32)

In [13]:
df_train.shape,df_test.shape

((4457, 2), (1115, 2))

In [ ]:
data_lm = TextLMDataBunch.from_df(train_df = df_train, valid_df = df_test, path = "")

In [ ]:
data_class = TextClasDataBunch.from_df(path = "", train_df = df_train, valid_df = df_test, vocab=data_lm.train_ds.vocab, bs=32)

In [17]:
df_test

     target                                               text
3923    ham  Oh really? perform, write a paper, go to a mov...
1868    ham  Mmmm ... Fuck ... Not fair ! You know my weakn...
5313    ham           My sister going to earn more than me da.
1997    ham                   Lol boo I was hoping for a laugh
329     ham                   Cool, text me when you're parked
...     ...                                                ...
318     ham     Not really dude, have no friends i'm afraid :(
1128    ham  Height of "Oh shit....!!" situation: A guy thr...
568     ham  So anyways, you can just go to your gym or wha...
3740    ham                         Did you stitch his trouser
4791    ham  Yup. Izzit still raining heavily cos i'm in e ...

[1115 rows x 2 columns]

In [18]:
data_lm.show_batch()